<div id="div-event-checklist-display" #checklistPanel>
  <div class="filter">
    <div class="new">
      <a class="new-item" (click)="newItem()">Add a new item</a>
    </div>
    <div class="status" fxLayout.xs="column">
      <mat-label> Item status: </mat-label>
      <mat-checkbox (change)="callFilter()"
        [(ngModel)]="displayOngoingEvents"> Ongoing events </mat-checkbox>
      <mat-checkbox (change)="callFilter()"
        [(ngModel)]="displayCheckedEvents"> Checked events </mat-checkbox>
    </div>
    <div class="input">
      <mat-form-field>
        <input matInput [formControl]="filterValue" placeholder="Filter">
      </mat-form-field>
    </div>
  </div>
  <div class="checklist" *ngIf="(filteredList | async)?.length > 0; else noChecklist" >
    <div class="item" *ngFor="let item of filteredList | async; index as i">
      <mat-card>
        <div class="status">
          #{{ item.id+1 }} {{ eventStatus[item.status] }} item
        </div>
        <div class="content">
          {{ item.content }}
        </div>
        <div class="button-panel">
          <a *ngIf="eventStatus[item.status] === 'Ongoing'; else refreshButton"
             class="check" (click)="checkItem(item.id)">Check it</a>
          <ng-template #refreshButton>
            <a class="check" (click)="ongoingItem(item.id)">Reset it</a>
          </ng-template>
          <a class="modify" (click)="modifyItem(item.id, item.content)">Modify</a>
          <a class="delete" (click)="deleteItem(item.id)">Delete</a>
        </div>
      </mat-card>
    </div>
  </div>
  <ng-template #noChecklist>
    <div style="margin: 0 0.5em;">
      Items not found.
    </div>
  </ng-template>
</div>
