<div id="div-events-form"> 
  <form [formGroup]="eventCreationForm"> 
    <div class="form-fields" fxLayout="column" fxLayoutAlign="space-around center">
      <mat-form-field>
        <input matInput placeholder="Topic" formControlName="topic">
	<mat-error *ngIf="eventCreationForm.controls.topic.hasError('required')">
	  Topic is required.
	</mat-error>
      </mat-form-field>
      <mat-form-field>
	<mat-chip-list #tagsList aria-label="Tags">
          <mat-chip *ngFor="let eventTag of eventTags" 
		    [removable]="tagsRemovable" 
		    [selectable]="tagsSelectable" 
		    (removed)="removeTag(eventTag)">
	    {{ eventTag }}
	    <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
          <input placeholder="Tags (optional, at most 5 tags)" 
		 formControlName="tags"
	         [matChipInputFor]="tagsList"
		 [matChipInputSeparatorKeyCodes]="separatorKeyCodes"
		 [matChipInputAddOnBlur]="addOnBlur"
		 (matChipInputTokenEnd)="addTag($event)">
	</mat-chip-list>
      </mat-form-field>
      <mat-form-field>
        <textarea matInput placeholder="Content" formControlName="content"></textarea>
	<mat-error *ngIf="eventCreationForm.controls.content.hasError('required')">
	  Content is required.
	</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput
	       [matDatepicker]="startDatePicker" 
	       placeholder="Start from"
	       formControlName="startdate"
	       (click)="startDatePicker.open()">
	<mat-datepicker #startDatePicker></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <input matInput
	       [matDatepicker]="endDatePicker" 
	       placeholder="End at"
	       formControlName="enddate"
	       (click)="endDatePicker.open()">
	<mat-datepicker #endDatePicker></mat-datepicker>
      </mat-form-field>
      
    </div>
  </form>
</div>
