<div id="div-events-info">
  <div *ngIf="events as _events; else noEvents">
    <div class="event-item" fxLayout="row" fxLayoutAligh="start"
      *ngFor="let _event of _events; index as i">
      <div class="sideways">
        <div [class]="'event-status metadata ' + eventStatus[_event.status] | lowercase">
          {{ eventStatus[_event.status] }}
        </div>
      </div>
      <div class="content">
        <div class="summary" #summary>
          <div class="event-topic">
            <h3> {{ _event.topic }} </h3>
          </div>
          <div class="event-tags metadata" *ngIf="_event.tags.length > 0">
            Tags: {{ _event.tags }}
          </div>
          <div class="event-content">
            {{ _event.content }}
            ...
            <a class="button more" 
              (click)="detail.hidden = false; summary.hidden = true"> More </a>
          </div>
        </div>
        <div class="detail" #detail [hidden]="true">
          <app-event-metadata [event]="_event"></app-event-metadata>
          <a class="button more" (click)="detail.hidden = true; summary.hidden = false">Hide details</a>
        </div>
        <div class="button-panel">
          <a class="button check" (click)="checkEvent(_event)"
            *ngIf="eventStatus[_event.status] != 'Checked'; else resetTemplate">Check</a>
          <ng-template #resetTemplate>
            <a class="button check" (click)="resetEvent(_event)">Reset</a>
          </ng-template>

          <a class="button modify" [routerLink]="['/events/update', _event.id, '/group', _event.groupid]"
            *ngIf="_event.groupid; else individualEventUpdateTemplate">Modify</a>
          <ng-template #individualEventUpdateTemplate>
            <a class="button modify" [routerLink]="['/events/update', _event.id]">Modify</a>
          </ng-template>

          <a class="button checklist" (click)="openChecklist(_event)">Checklist</a>
          <a class="button delete" (click)="deleteEvent(_event)">Delete</a>
        </div>
      </div>
    </div>
  </div>
  <ng-template #noEvents>
    No events today!
  </ng-template>
</div>
