#div-event-summary {
  .list-item {
    max-width: 100%;
    padding: 0 0.5em;
    margin: 1em auto;

    .list-item-title {
      width: 8em;
      margin-bottom: 0.2em;
    }
    .list-item-content {
      text-align: left;
      overflow-wrap: break-word;
    }
  }

  .checklist {
    table {
      width: 100%;
      table-layout: fixed;
    }

    th, td {
      overflow-wrap: break-word;
    }

    .mat-column-index {
      width: 2em;
    }
    .mat-column-status {
      width: 4.5em;
    }
  }
}
